# Project files
*.komodoproject
.idea/
.metadata/
.project
.settings/
.pydevproject
.python-version
.idea
.dartignore

.sw*
*.vim
*.zip

# Code build files
*.egg-info/
build/
__pycache__/
requests_mv_integrations/__pycache__/
requests_mv_integrations/helpers/__pycache__/
*.pyc

# Code documentation
docs/sphinx/_build/
venv/

# Backup files
*.bak
*.log
*.*~
*~

examples/third_party/
third_party/
examples/data.*
examples/processed.*

# Sandbox
**/_tmp/*
**/tmp/*
sandbox/

# Scripts
bash/*

# Documentation
docs/doxygen/*
docs/sphinx/_build/*

# Analysis
sonar-project.properties
.sonar

dist/*

# pytest
.cache/*

